# This config file was generated using this command
# ./ssh-hosts.py example.ini > example.config
Host vm11
    ForwardX11 yes
    HostName 3.3.3.3
    User userx
    Port 44
Host vm21
    ForwardX11 yes
    HostName 4.4.4.4
    User userx
    Port 44
Host vm31
    ForwardX11 yes
    HostName 5.5.5.5
    User root
    Port 22
Host vm2
    ForwardX11 yes
    HostName 2.2.2.2
    User user2
    Port 22
Host vm41
    ForwardX11 yes
    HostName 6.6.6.6
    User root
    Port 22
Host vm1
    ForwardX11 yes
    HostName 1.1.1.1
    User user1
    Port 22
